/* .pagin_blog_block {
    width: 1392px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    @media screen and (max-width: 480px) {
        width: 358px;
        height: auto;
        gap: 16px 0;
    }

    @media screen and (min-width: 481px) and (max-width: 767px) {
       width: 90%;
       height: auto;
       gap: 16px 0;
    }

    @media screen and (min-width: 768px) and  (max-width: 991px) {
        width: 90%;
        height: auto;
        gap: 16px 0;
    }

    @media screen and (min-width: 992px) and  (max-width: 1200px) {
        width: 95%;
        height: auto;
        gap: 16px 0;
    }

    @media screen and (min-width: 1201px) and  (max-width: 1535px) {
        width: 95%;
        height: auto;
        gap: 16px 0;
    } 
}
.pagin_boxes {
    width: 453.33px;
    height: 406px;
    background-color: white;
    color: #2E2E2E;
    border: 1px solid #E1E1E1;
    border-radius: 16px;
    padding: 8px;
    text-decoration: none;
  
    @media screen and (max-width: 480px) {
        width: 100%;
        height: 430px;
    }

    @media screen and (min-width: 481px) and (max-width: 767px) {
       width: 49%;
       height: auto;
    }

    @media screen and (min-width: 768px) and  (max-width: 991px) {
        width: 49%;
        height: auto;
    }

    @media screen and (min-width: 992px) and  (max-width: 1200px) {
        width: 49%;
        height: auto;
    }

    @media screen and (min-width: 1201px) and  (max-width: 1535px) {
        width: 32.2%;
        height: auto;
    } 
}

.pagin_boxes:hover {
    background-color: #2E2E2E;
    color: white;
    cursor: pointer;
}
.pagin_boxes>img {
    width: 100%;
    height: 228px;
    border-radius: 8px;

    @media screen and (max-width: 480px) {
        width: 100%;
        height: 228px;
    }

    @media screen and (min-width: 481px) and (max-width: 767px) {
       width: 100%;
       height: 200px;
    }

    @media screen and (min-width: 768px) and  (max-width: 991px) {
        width: 100%;
        height: 228px;
    }

    @media screen and (min-width: 992px) and  (max-width: 1200px) {
        width: 100%;
        height: 228px;
    }

    @media screen and (min-width: 1201px) and  (max-width: 1535px) {
        width: 100%;
        height: 228px;
    } 
}
.pagin_boxes>h2 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
    margin-top: 16px;
}
.pagin_boxes>p {
    margin-top: 2px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    
    @media screen and (max-width: 480px) {
        color: rgba(46, 46, 46, 1);
    }

    @media screen and (min-width: 481px) and (max-width: 767px) {
        font-size: 12px;
        line-height: 16px;
    }
    @media screen and (min-width: 768px) and  (max-width: 991px) {
        color: rgba(46, 46, 46, 1);
    }

    @media screen and (min-width: 992px) and  (max-width: 1200px) {
        color: rgba(46, 46, 46, 1);
    }

    @media screen and (min-width: 1201px) and  (max-width: 1535px) {
        color: rgba(46, 46, 46, 1);
    } 
}




.pagination_block {
    width: 100%;
    height: 56px;
    margin-top: 16px;
    display: flex;
    position: relative;

    @media screen and (max-width: 480px) {
        width: 358px;
        height: 56px;
    }
 
}
.back_btn {
    width: 460px;
    height: 100%;
    background-color: white;
    border: 1px solid #E1E1E1;
    border-radius: 32px;
    gap: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;


    @media screen and (max-width: 480px) {
        width: 57px;
        height: 100%;
    }

    @media screen and (min-width: 481px) and (max-width: 767px) {
        width: 19%;
        height: 100%;
    }

    @media screen and (min-width: 768px) and (max-width: 991px) {
        width: 30%;
        height: 100%;
    }

    @media screen and (min-width: 991px) and (max-width: 1200px) {
        width: 35%;
        height: 100%;
    }

    @media screen and (min-width: 1201px) and (max-width: 1535px) {
        width: 38%;
        height: 100%;
    }
}
.next_btn {
    width: 460px;
    height: 100%;
    background-color: white;
    border: 1px solid #E1E1E1;
    border-radius: 32px;
    gap: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;

    @media screen and (max-width: 480px) {
        width: 57px;
        height: 100%;
    }

    @media screen and (min-width: 481px) and (max-width: 1535px) {
        width: 19%;
        height: 100%;
    }

    @media screen and (min-width: 768px) and (max-width: 991px) {
        width: 30%;
        height: 100%;
    }

    @media screen and (min-width: 991px) and (max-width: 1200px) {
        width: 35%;
        height: 100%;
    }

    @media screen and (min-width: 1201px) and (max-width: 1535px) {
        width: 38%;
        height: 100%;
    }
}
.prev_text, .next_text {
    font-size: 16px;
    line-height: 16px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    @media screen and (max-width: 480px) {
       display: none;
    }

    @media screen and (min-width: 481px) and (max-width: 767px) {
        display: none;
    }
}

.back_btn:hover,.next_btn:hover {
    background-color: #764AF1;
    color: white;
    transition: 500ms;
}

.pagin_arrows {
    width: 20px;
    height: 20px;
}


.btn_box {
    width: 440px;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 16px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (max-width: 480px) {
        width: 236px;
        height: 100%;
    }

    @media screen and (min-width: 481px) and (max-width: 1535px) {
        width: auto;
        height: 100%;
        gap: 0 10px;
    }
}

.btn_box>button {
    width: 56px;
    height: 100%;
    border-radius: 50%;
    background-color: white;
    color: black;
    border: 1px solid #E1E1E1;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}
.btn_box>button:hover {
    background-color: #764AF1;
    color: white;
    transition: 500ms;
} */
