.footage_block {
    width: 100%;
    height: auto;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px 0;
}

.footage_name {
    color: #2E2E2E;
    font-size: 20px;
    line-height: 30px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    align-items: center;
}

.enter_footage_block {
    width: 100%;
    height: 264px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.pair_footage_box {
    width: 923px;
    height: 124px;
    display: flex;
    justify-content: space-between;
}

.form_footage {
    width: 411px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px 0;
}

.form_footage>label {
    font-size: 32px;
    line-height: 48px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #2E2E2E;
}

.form_footage>input {
    width: 100%;
    height: 64px;
    border-radius: 16px;
    background-color: #EBEBEB;
    color: #6C6C6C;
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 14px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    line-height: 21px;
}

.form_footage>input::-webkit-inner-spin-button,
.form_footage>input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.text_footage_box {
    width: 480px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px 0;
}

.text_footage_box>h1 {
    font-size: 32px;
    line-height: 38.4px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #2E2E2E;
}

.text_footage_box>p {
    font-size: 12px;
    line-height: 20px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #6C6C6C;
}



.box_back_calculate {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-between;
}

.back_calculate {
    width: 688px;
    height: 100%;
    background-color: white;
    border: 1px solid #E1E1E1;
    border-radius: 32px;
    color: #2E2E2E;
    font-size: 16px;
    line-height: 24px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    cursor: pointer;
}

.back_calculate:hover {
    background-color: #764AF1;
    color: white;
}

.pasive_calculate_btn {
    width: 688px;
    height: 100%;
    background-color: #B7B7B7;
    border: none;
    border-radius: 32px;
    color: white;
    font-size: 16px;
    line-height: 24px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;    
}

.active_calculate_btn {
    width: 688px;
    height: 100%;
    background-color: #764AF1;
    border: none;
    border-radius: 32px;
    color: white;
    font-size: 16px;
    line-height: 24px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    cursor: pointer;
}


@media screen and (max-width: 480px) {
    .footage_block {
        width: 358px;
        height: auto;
        margin-top: 64px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px 0;
    }
    
    .footage_name {
        color: #2E2E2E;
        font-size: 20px;
        line-height: 30px;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        align-items: center;
    }
    
    .enter_footage_block {
        width: 100%;
        height: auto;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: unset;
        align-items: unset;
        background-color: white;
        border: 1px solid #E1E1E1;
        border-radius: 16px;
    }
    
    .pair_footage_box {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: unset;
        gap: 24px;
    }
    
    .form_footage {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 8px 0;
    }
    
    .form_footage>label {
        font-size: 32px;
        line-height: 48px;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        color: #2E2E2E;
    }
    
    .form_footage>input {
        width: 100%;
        height: 64px;
        border-radius: 16px;
        background-color: #EBEBEB;
        color: #6C6C6C;
        border: none;
        outline: none;
        padding-left: 10px;
        font-size: 14px;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        line-height: 21px;
    }
    
    .form_footage>input::-webkit-inner-spin-button,
    .form_footage>input::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
    
    .text_footage_box {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 8px 0;
    }
    
    .text_footage_box>h1 {
        font-size: 32px;
        line-height: 38.4px;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        color: #2E2E2E;
    }
    
    .text_footage_box>p {
        font-size: 12px;
        line-height: 20px;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        color: #6C6C6C;
    }
    
    
    .box_back_calculate {
        width: 100%;
        height: 56px;
        display: flex;
        justify-content: space-between;
        gap: 16px;
    }
    
    .back_calculate {
        width: 183px;
        height: 100%;
        background-color: white;
        border: 1px solid #E1E1E1;
        border-radius: 32px;
        color: #2E2E2E;
        font-size: 16px;
        line-height: 24px;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        cursor: pointer;
    }

    .back_calculate:hover {
        background-color: #764AF1;
        color: white;
    }
    
    .pasive_calculate_btn,.active_calculate_btn {
        width: 183px;
        height: 100%;
        border: none;
        border-radius: 32px;
        color: white;
        font-size: 16px;
        line-height: 24px;
        cursor: pointer;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .footage_block {
        width: 100%;
        height: auto;
        margin-top: 64px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px 0;
    }
    
    .footage_name {
        color: #2E2E2E;
        font-size: 20px;
        line-height: 30px;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        align-items: center;
    }
    
    .enter_footage_block {
        width: 100%;
        height: auto;
        padding: 24px;
        display: flex;
        flex-direction: column;
        justify-content: unset;
        align-items: unset;
        background-color: white;
        border: 1px solid #E1E1E1;
        border-radius: 16px;
    }
    
    .pair_footage_box {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: unset;
        gap: 24px;
    }
    
    .form_footage {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 8px 0;
    }
    
    .form_footage>label {
        font-size: 32px;
        line-height: 48px;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        color: #2E2E2E;
    }
    
    .form_footage>input {
        width: 100%;
        height: 64px;
        border-radius: 16px;
        background-color: #EBEBEB;
        color: #6C6C6C;
        border: none;
        outline: none;
        padding-left: 10px;
        font-size: 14px;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        line-height: 21px;
    }
    
    .form_footage>input::-webkit-inner-spin-button,
    .form_footage>input::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
    
    .text_footage_box {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 8px 0;
    }
    
    .text_footage_box>h1 {
        font-size: 32px;
        line-height: 38.4px;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        color: #2E2E2E;
    }
    
    .text_footage_box>p {
        font-size: 12px;
        line-height: 20px;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        color: #6C6C6C;
    }
    
    
    .box_back_calculate {
        width: 100%;
        height: 56px;
        display: flex;
        justify-content: space-between;
    }
    
    .back_calculate {
        width: 48%;
        height: 100%;
        background-color: white;
        border: 1px solid #E1E1E1;
        border-radius: 32px;
        color: #2E2E2E;
        font-size: 16px;
        line-height: 24px;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        cursor: pointer;
    }

    .back_calculate:hover {
        background-color: #764AF1;
        color: white;
    }
    
    .pasive_calculate_btn,.active_calculate_btn {
        width: 48%;
        height: 100%;
        border: none;
        border-radius: 32px;
        color: white;
        font-size: 16px;
        line-height: 24px;
        cursor: pointer;
    }
}

@media screen and (min-width: 767px) and (max-width: 991px) {
    .footage_block {
        width: 100%;
        height: auto;
        margin-top: 64px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px 0;
    }
    
    .footage_name {
        color: #2E2E2E;
        font-size: 20px;
        line-height: 30px;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        align-items: center;
    }
    
    .enter_footage_block {
        width: 100%;
        height: auto;
        padding: 24px;
        display: flex;
        flex-direction: column;
        justify-content: unset;
        align-items: unset;
        background-color: white;
        border: 1px solid #E1E1E1;
        border-radius: 16px;
    }
    
    .pair_footage_box {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: unset;
        gap: 24px;
    }
    
    .form_footage {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 8px 0;
    }
    
    .form_footage>label {
        font-size: 32px;
        line-height: 48px;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        color: #2E2E2E;
    }
    
    .form_footage>input {
        width: 100%;
        height: 64px;
        border-radius: 16px;
        background-color: #EBEBEB;
        color: #6C6C6C;
        border: none;
        outline: none;
        padding-left: 10px;
        font-size: 14px;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        line-height: 21px;
    }
    
    .form_footage>input::-webkit-inner-spin-button,
    .form_footage>input::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
    
    .text_footage_box {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 8px 0;
    }
    
    .text_footage_box>h1 {
        font-size: 32px;
        line-height: 38.4px;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        color: #2E2E2E;
    }
    
    .text_footage_box>p {
        font-size: 12px;
        line-height: 20px;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        color: #6C6C6C;
    }
    
    
    .box_back_calculate {
        width: 100%;
        height: 56px;
        display: flex;
        justify-content: space-between;
    }
    
    .back_calculate {
        width: 48%;
        height: 100%;
        background-color: white;
        border: 1px solid #E1E1E1;
        border-radius: 32px;
        color: #2E2E2E;
        font-size: 16px;
        line-height: 24px;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        cursor: pointer;
    }

    .back_calculate:hover {
        background-color: #764AF1;
        color: white;
    }
    
    .pasive_calculate_btn,.active_calculate_btn {
        width: 48%;
        height: 100%;        
        border: none;
        border-radius: 32px;
        color: white;
        font-size: 16px;
        line-height: 24px;
        cursor: pointer;
    }
}

@media screen and (min-width: 991px) and (max-width: 1200px) {
    .footage_block {
        width: 100%;
        height: auto;
        margin-top: 64px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px 0;
    }
    
    .footage_name {
        color: #2E2E2E;
        font-size: 20px;
        line-height: 30px;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        align-items: center;
    }
    
    .enter_footage_block {
        width: 100%;
        height: auto;
        padding: 24px;
        display: flex;        
        justify-content: space-between;
        align-items: center;
        background-color: white;
        border: 1px solid #E1E1E1;
        border-radius: 16px;
    }
    
    .pair_footage_box {
        width: 100%;
        height: auto;
        display: flex;        
        justify-content: space-between;
        gap: 24px;
    }
    
    .form_footage {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 8px 0;
    }
    
    .form_footage>label {
        font-size: 32px;
        line-height: 48px;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        color: #2E2E2E;
    }
    
    .form_footage>input {
        width: 100%;
        height: 64px;
        border-radius: 16px;
        background-color: #EBEBEB;
        color: #6C6C6C;
        border: none;
        outline: none;
        padding-left: 10px;
        font-size: 14px;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        line-height: 21px;
    }
    
    .form_footage>input::-webkit-inner-spin-button,
    .form_footage>input::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
    
    .text_footage_box {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 8px 0;
    }
    
    .text_footage_box>h1 {
        font-size: 32px;
        line-height: 38.4px;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        color: #2E2E2E;
    }
    
    .text_footage_box>p {
        font-size: 12px;
        line-height: 20px;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        color: #6C6C6C;
    }
    
    
    .box_back_calculate {
        width: 100%;
        height: 56px;
        display: flex;
        justify-content: space-between;
    }
    
    .back_calculate {
        width: 48%;
        height: 100%;
        background-color: white;
        border: 1px solid #E1E1E1;
        border-radius: 32px;
        color: #2E2E2E;
        font-size: 16px;
        line-height: 24px;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        cursor: pointer;
    }

    .back_calculate:hover {
        background-color: #764AF1;
        color: white;
    }
    
    .pasive_calculate_btn,.active_calculate_btn {
        width: 48%;
        height: 100%;
        border: none;
        border-radius: 32px;
        color: white;
        font-size: 16px;
        line-height: 24px;
        cursor: pointer;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1535px) {
    .footage_block {
        width: 100%;
        height: auto;
        margin-top: 64px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px 0;
    }
    
    .footage_name {
        color: #2E2E2E;
        font-size: 20px;
        line-height: 30px;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        align-items: center;
    }
    
    .enter_footage_block {
        width: 100%;
        height: 264px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
    }
    
    .pair_footage_box {
        width: 923px;
        height: 124px;
        display: flex;
        justify-content: space-between;
    }
    
    .form_footage {
        width: 411px;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px 0;
    }
    
    .form_footage>label {
        font-size: 32px;
        line-height: 48px;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        color: #2E2E2E;
    }
    
    .form_footage>input {
        width: 100%;
        height: 64px;
        border-radius: 16px;
        background-color: #EBEBEB;
        color: #6C6C6C;
        border: none;
        outline: none;
        padding-left: 10px;
        font-size: 14px;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        line-height: 21px;
    }
    
    .form_footage>input::-webkit-inner-spin-button,
    .form_footage>input::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
    
    .text_footage_box {
        width: 480px;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px 0;
    }
    
    .text_footage_box>h1 {
        font-size: 32px;
        line-height: 38.4px;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        color: #2E2E2E;
    }
    
    .text_footage_box>p {
        font-size: 12px;
        line-height: 20px;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        color: #6C6C6C;
    }
    
    
    
    .box_back_calculate {
        width: 100%;
        height: 56px;
        display: flex;
        justify-content: space-between;
    }
    
    .back_calculate {
        width: 49%;
        height: 100%;
        background-color: white;
        border: 1px solid #E1E1E1;
        border-radius: 32px;
        color: #2E2E2E;
        font-size: 16px;
        line-height: 24px;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        cursor: pointer;
    }

    .back_calculate:hover {
        background-color: #764AF1;
        color: white;
    }
    
    .pasive_calculate_btn,.active_calculate_btn {
        width: 49%;
        height: 100%;
        border: none;
        border-radius: 32px;
        color: white;
        font-size: 16px;
        line-height: 24px;
        cursor: pointer;
    }
}