* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header_close {
  width: 1392px;
  height: 88px;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  border-radius: 44px;
}

.header_open {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  background-color: #2e2e2e;
  border-radius: 44px;
}

.navigation_block {
  width: 100%;
  height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2e2e2e;
  border-radius: 60px;
}

.logo_block {
  width: 65px;
  height: auto;
  margin-left: 20px;
}

.logo_block > a {
  font-size: 30.95px;
  color: #764af1;
  text-decoration: none;
}

.nav_block {
  width: fit-content;
  height: 48px;
}

.nav_ul_box {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 0 8px;
}

.nav_li {
  width: auto;
  height: 48px;
  padding: 0 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  text-decoration: none;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  color: #ebebeb;
  text-decoration: none;
}

.nav_li:hover {
  border-radius: 130px;
  background-color: #565656;
}

.nav_li_active {
  width: auto;
  height: 48px;
  padding: 0 18px;
  border-radius: 130px;
  background-color: #565656;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  color: #ebebeb;
  text-decoration: none;
}

.like_contact_block {
  width: 191px;
  height: 48px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
}

.heard_box {
  width: 48px;
  height: 48px;
  border-radius: 25px;
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heard_box_active {
  width: 48px;
  height: 48px;
  border-radius: 25px;
  background-color: #764af1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact_link {
  display: block;
  width: 135px;
  height: 100%;
  border-radius: 130px;
  background-color: white;
  color: #764af1;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact_link:hover {
  background-color: #764af1;
  color: white;
}

.contact_link_active {
  display: block;
  width: 135px;
  height: 100%;
  border-radius: 130px;
  background-color: #764af1;
  color: white;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_burger {
  display: none;
  width: 48px;
  height: 48px;
  background-color: #764af1;
  color: white;
  border-radius: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  --s: 20px;
  --c: white;

  height: var(--s);
  aspect-ratio: 1;
  border: none;
  padding: 0;
  border-inline: calc(var(--s) / 2) solid #0000;
  box-sizing: content-box;
  --_g1: linear-gradient(var(--c) 20%, #0000 0 80%, var(--c) 0) no-repeat
    content-box border-box;
  --_g2: radial-gradient(
      circle closest-side at 50% 12.5%,
      var(--c) 95%,
      #0000
    )
    repeat-y content-box border-box;
  background: var(--_g2) left var(--_p, 0px) top,
    var(--_g1) left calc(var(--s) / 10 + var(--_p, 0px)) top,
    var(--_g2) right var(--_p, 0px) top,
    var(--_g1) right calc(var(--s) / 10 + var(--_p, 0px)) top;
  background-size: 20% 80%, 40% 100%;
  position: relative;
  clip-path: inset(0 25%);
  -webkit-mask: linear-gradient(90deg, #0000, #000 25% 75%, #0000);
  cursor: pointer;
  transition: background-position 0.3s var(--_s, 0.3s),
    clip-path 0s var(--_s, 0.6s);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.menu:before,
.menu:after {
  content: "";
  position: absolute;
  border-radius: var(--s);
  inset: 40% 0;
  background: var(--c);
  transition: transform 0.3s calc(0.3s - var(--_s, 0.3s));
}

.menu:checked {
  clip-path: inset(0);
  --_p: calc(-1 * var(--s));
  --_s: 0s;
}
.menu:checked:before {
  transform: rotate(45deg);
}
.menu:checked:after {
  transform: rotate(-45deg);
}
.menu:focus-visible {
  clip-path: none;
  -webkit-mask: none;
  border: none;
  outline: 2px solid var(--c);
  outline-offset: 5px;
}


.menu_block {
  display: none;
}
.burger_ul {
  display: none;
}

@media screen and (max-width: 480px) {
  .header_close {
    width: 100%;
    padding: 20px;
    gap: 20px;
    margin: 16px 0 0 0;
    background-color: #2e2e2e;
    display: flex;
    transition: 700ms;
  }

  .header_open {
    width: 100%;
    height: 652px;
    padding: 20px;
    gap: 20px;
    margin: 16px 0 0 0;
    display: flex;
    transition: 700ms;
  }

  .navigation_block {
    width: 100%;
    height: 48px;
    position: relative;
  }

  .logo_block {
    width: 65px;
    height: 48px;
    margin: 0;
    display: flex;
    align-items: center;
  }

  .nav_block {
    display: none;
  }

  .like_contact_block {
    display: none;
  }

  .menu_block {
    display: block;
    width: fit-content;
    height: auto;
    display: flex;
    gap: 0 8px;
  }

  .heard_box {
    width: 48px;
    height: 48px;
  }

 
  .burger_ul {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 88px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .burger_li {
    background-color: #565656;
    border-radius: 48px;
    padding: 16px;
    gap: 8px;
    list-style-type: none;
  }

  .burger_link {
    width: 100%;
    height: auto;
    font-size: 20px;
    line-height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    color: white;
  }
  .media_small_arrow {
    width: 25px;
    height: 25px;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .header_close {
    width: 100%;
    height: 88px;
    transition: 700ms;
  }

  .header_open {
    width: 100%;
    height: auto;
    gap: 20px;
    transition: 700ms;
    display: flex;
    flex-direction: column;
  }

  .navigation_block {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 20px;
  }

  .logo_block {
    margin: 0;
  }

  .nav_block,
  .like_contact_block {
    display: none;
  }

  .menu_block {
    display: block;
    width: fit-content;
    height: auto;
    display: flex;
    gap: 0 8px;
  }

  .heard_box {
    width: 48px;
    height: 48px;
  }

  .menu_burger_box {
    width: 48px;
    height: 48px;
    border-radius: 130px;
    background-color: #764af1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .menu_pair_box {
    width: 20px;
    height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin-bottom: 4px;
  }

  .menu_one_box,
  .menu_two_box,
  .menu_three_box {
    width: 20px;
    height: 3px;
    background-color: #ffffff;
    transform-origin: left;
    transition: 500ms;
  }

  .active_one,
  .active_two {
    width: 20px;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    transform-origin: left;
    transform: rotate(45deg);
    transition: 500ms;
  }

  .active_three {
    width: 20px;
    height: 3px;
    background-color: #ffffff;
    transform-origin: left;
    transform: rotate(-45deg);
    transition: 500ms;
  }

  .burger_ul {
    display: block;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .burger_li {
    width: 100%;
    background-color: #565656;
    border-radius: 48px;
    padding: 16px;
    gap: 8px;
    list-style-type: none;
  }

  .burger_link {
    width: 100%;
    height: auto;
    font-size: 20px;
    line-height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    color: white;
  }

  .media_small_arrow {
    width: 25px;
    height: 25px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .header_close {
    width: 100%;
    height: 88px;
    transition: 700ms;
  }

  .header_open {
    width: 100%;
    height: auto;
    gap: 20px;
    display: flex;
    transition: 700ms;
  }

  .navigation_block {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 20px;
  }

  .logo_block {
    margin: 0;
  }

  .nav_block {
    display: none;
  }

  .like_contact_block {
    display: none;
  }

  .menu_block {
    display: block;
    width: fit-content;
    height: auto;
    display: flex;
    gap: 0 8px;
  }

  .heard_box {
    width: 48px;
    height: 48px;
  }

  .menu_burger_box {
    width: 48px;
    height: 48px;
    border-radius: 130px;
    background-color: #764af1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .menu_pair_box {
    width: 20px;
    height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin-bottom: 4px;
  }
  .menu_one_box,
  .menu_two_box,
  .menu_three_box {
    width: 20px;
    height: 3px;
    background-color: #ffffff;
    transform-origin: left;
    transition: 500ms;
  }
  .active_one,
  .active_two {
    width: 20px;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    transform-origin: left;
    transform: rotate(45deg);
    transition: 500ms;
  }

  .active_three {
    width: 20px;
    height: 3px;
    background-color: #ffffff;
    transform-origin: left;
    transform: rotate(-45deg);
    transition: 500ms;
  }

  .burger_ul {
    display: block;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .burger_li {
    width: 100%;
    background-color: #565656;
    border-radius: 48px;
    padding: 16px;
    gap: 8px;
    list-style-type: none;
  }

  .burger_link {
    width: 100%;
    height: auto;
    font-size: 20px;
    line-height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    color: white;
  }

  .media_small_arrow {
    width: 25px;
    height: 25px;
  }
}

@media screen and (min-width: 991px) and (max-width: 1200px) {
  .header_close {
    width: 100%;
    height: 88px;
    transition: 700ms;
  }

  .header_open {
    width: 100%;
    height: auto;
    gap: 20px;
    transition: 700ms;
    display: flex;
    flex-direction: column;
  }

  .navigation_block {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 20px;
  }

  .logo_block {
    margin: 0;
  }

  .nav_block,
  .like_contact_block {
    display: none;
  }

  .menu_block {
    display: block;
    width: fit-content;
    height: auto;
    display: flex;
    gap: 0 8px;
  }

  .heard_box {
    width: 48px;
    height: 48px;
  }

  .menu_burger_box {
    width: 48px;
    height: 48px;
    border-radius: 130px;
    background-color: #764af1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .menu_pair_box {
    width: 20px;
    height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin-bottom: 4px;
  }

  .menu_one_box,
  .menu_two_box,
  .menu_three_box {
    width: 20px;
    height: 3px;
    background-color: #ffffff;
    transform-origin: left;
    transition: 500ms;
  }

  .active_one,
  .active_two {
    width: 20px;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    transform-origin: left;
    transform: rotate(45deg);
    transition: 500ms;
  }

  .active_three {
    width: 20px;
    height: 3px;
    background-color: #ffffff;
    transform-origin: left;
    transform: rotate(-45deg);
    transition: 500ms;
  }

  .burger_ul {
    display: block;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .burger_li {
    width: 100%;
    background-color: #565656;
    border-radius: 48px;
    padding: 16px;
    gap: 8px;
    list-style-type: none;
  }

  .burger_link {
    width: 100%;
    height: auto;
    font-size: 20px;
    line-height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    color: white;
  }

  .media_small_arrow {
    width: 25px;
    height: 25px;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1535px) {
  .header_close {
    width: 100%;
    height: 88px;
  }

  .header_open {
    width: 100%;
    height: 88px;
  }

  .navigation_block {
    width: 100%;
    height: 100%;
  }

  .nav_li:lang(am),
  .nav_li_active:lang(am),
  .contact_link:lang(am) {
    font-size: 14px;
  }
}
