.container_block {
    width: 1392px;
    height: auto;
    margin: 64px 0; 
}

.container_pair {
    width: 100%;
    height: auto;
    margin-top: 16px;
    border-radius: 24px;
    padding: 16px;
    gap: 16px;
    background-color: #E1E1E1;
    border: 1px solid #B7B7B7;
}

.container_btn {
    width: 180px;
    height: 32px;
    border-radius: 28px;
    gap: 10px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 16px;
    border: 1px solid #2E2E2E;
}

.close {
    width: 100%;
    height: 72px;
    border-radius: 8px;
    padding: 24px;
    margin-bottom: 16px;
    position: relative;
    background-color: white;
    overflow: hidden;
}

.open {
    width: 100%;
    height: 224px;
    border-radius: 8px;
    padding: 24px;
    margin-bottom: 16px;
    background-color: white;
    position: relative;
}

.container_name {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 24px;
}

.container_text {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 1%;
    color: #6C6C6C;
    margin-top: 24px;
}

.plus_minus {
    font-size: 32px;
    position: absolute;
    top: 20px;
    right: 24px;
}

.container_link {
    display: block;
    width: 100%;
    height: 56px;
    margin-top: 64px;
    text-decoration: none;
    border-radius: 32px;
    background-color: #764AF1;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    gap: 8px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}




@media screen and (max-width: 480px) {
    .container_block {
        width: 358px;
        height: auto;
        margin: 48px 0 0 0; 
    }
    
    .container_pair {
        width: 100%;
        height: auto;
        border-radius: 24px;
        margin: 0;
        padding: 16px;
        gap: 16px;
        background-color: #E1E1E1;
        border: 1px solid #B7B7B7;
    }
    

    .close {
        width: 100%;
        height: 88px;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 16px;
        position: relative;
        background-color: white;
        overflow: hidden;
    }
    
    .open {
        width: 100%;
        height: 308px;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 16px;
        background-color: white;
        position: relative;
    }
    
    .container_name {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 24px;
    }
    
    .container_text {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1%;
        color: #6C6C6C;
        margin-top: 24px;
    }
    
    .plus_minus {
        font-size: 32px;
        position: absolute;
        top: 15px;
        right: 20px;
    }
    
    .container_link {
        display: block;
        width: 100%;
        height: 56px;
        margin-top: 48px;
        text-decoration: none;
        border-radius: 32px;
        background-color: #764AF1;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size: 16px;
        line-height: 16px;
        gap: 8px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .container_block {
        width: 90%;
        height: auto;
        margin: 48px 0 0 0; 
    }
    
    .container_pair {
        width: 100%;
        height: auto;
        border-radius: 24px;
        margin: 0;
        padding: 16px;
        gap: 16px;
        background-color: #E1E1E1;
        border: 1px solid #B7B7B7;
    }
    

    .close {
        width: 100%;
        height: auto;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 16px;
        position: relative;
        background-color: white;
        overflow: hidden;
    }
    
    .open {
        width: 100%;
        height: auto;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 16px;
        background-color: white;
        position: relative;
    }
    
    .container_name {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 24px;
    }
    
    .container_text {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1%;
        color: #6C6C6C;
        margin-top: 24px;
    }
    
    .plus_minus {
        font-size: 32px;
        position: absolute;
        top: 15px;
        right: 20px;
    }
    
    .container_link {
        display: block;
        width: 100%;
        height: 56px;
        margin-top: 48px;
        text-decoration: none;
        border-radius: 32px;
        background-color: #764AF1;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size: 16px;
        line-height: 16px;
        gap: 8px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 767px) and (max-width: 991px) {
    .container_block {
        width: 90%;
        height: auto;
        margin: 48px 0 0 0; 
    }
    
    .container_pair {
        width: 100%;
        height: auto;
        border-radius: 24px;
        margin: 0;
        padding: 16px;
        gap: 16px;
        background-color: #E1E1E1;
        border: 1px solid #B7B7B7;
    }
    

    .close {
        width: 100%;
        height: auto;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 16px;
        position: relative;
        background-color: white;
        overflow: hidden;
    }
    
    .open {
        width: 100%;
        height: auto;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 16px;
        background-color: white;
        position: relative;
    }
    
    .container_name {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 24px;
    }
    
    .container_text {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1%;
        color: #6C6C6C;
        margin-top: 24px;
    }
    
    .plus_minus {
        font-size: 32px;
        position: absolute;
        top: 15px;
        right: 20px;
    }
    
    .container_link {
        display: block;
        width: 100%;
        height: 56px;
        margin-top: 48px;
        text-decoration: none;
        border-radius: 32px;
        background-color: #764AF1;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size: 16px;
        line-height: 16px;
        gap: 8px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 991px) and (max-width: 1200px) {
    .container_block {
        width: 95%;
        height: auto;
        margin: 48px 0 0 0; 
    }
    
    .container_pair {
        width: 100%;
        height: auto;
        border-radius: 24px;
        margin: 0;
        padding: 16px;
        gap: 16px;
        background-color: #E1E1E1;
        border: 1px solid #B7B7B7;
    }
    

    .close {
        width: 100%;
        height: auto;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 16px;
        position: relative;
        background-color: white;
        overflow: hidden;
    }
    
    .open {
        width: 100%;
        height: auto;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 16px;
        background-color: white;
        position: relative;
    }
    
    .container_name {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size: 22px;
        line-height: 24px;
        margin-bottom: 24px;
    }
    
    .container_text {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 1%;
        color: #6C6C6C;
        margin-top: 24px;
    }
    
    .plus_minus {
        font-size: 32px;
        position: absolute;
        top: 15px;
        right: 20px;
    }
    
    .container_link {
        display: block;
        width: 100%;
        height: 56px;
        margin-top: 48px;
        text-decoration: none;
        border-radius: 32px;
        background-color: #764AF1;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size: 16px;
        line-height: 16px;
        gap: 8px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1535px) {
    .container_block {
        width: 95%;
        height: auto;
        margin: 48px 0 0 0; 
    }
    
    .container_pair {
        width: 100%;
        height: auto;
        border-radius: 24px;
        margin: 0;
        padding: 16px;
        gap: 16px;
        background-color: #E1E1E1;
        border: 1px solid #B7B7B7;
    }
    

    .close {
        width: 100%;
        height: auto;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 16px;
        position: relative;
        background-color: white;
        overflow: hidden;
    }
    
    .open {
        width: 100%;
        height: auto;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 16px;
        background-color: white;
        position: relative;
    }
    
    .container_name {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 24px;
    }
    
    .container_text {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 1%;
        color: #6C6C6C;
        margin-top: 24px;
    }
    
    .plus_minus {
        font-size: 32px;
        position: absolute;
        top: 15px;
        right: 20px;
    }
    
    .container_link {
        display: block;
        width: 100%;
        height: 56px;
        margin-top: 48px;
        text-decoration: none;
        border-radius: 32px;
        background-color: #764AF1;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size: 16px;
        line-height: 16px;
        gap: 8px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}