.container_block {
  width: 1392px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 64px;
}

.container_navigate {
  width: 100%;
  height: 56px;
  margin: 16px 0 0 0;
  display: flex;
  justify-content: space-between;
  gap: 0 16px;
  overflow-x: scroll;
}

.container_navigate::-webkit-scrollbar {
  height: 0;
}

.container_link {
  width: 336px;
  height: 100%;
  flex-shrink: 0;
  border-radius: 32px;
  gap: 8px;
  border: none;
  cursor: pointer;
  background-color: white;
  color: black;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.container_link:hover {
  background-color: #764af1;
  color: white;
}

.link_arrow {
  width: 20px;
  height: 20px;
  border: 2px;
  margin-left: 14px;
}

.container_project_flex {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.container_project_reverse {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  text-decoration: none;
}

.container_text_block {
  width: 688px;
  height: auto;
  border-radius: 24px;
  padding: 32px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 304px;
}

.container_btn {
  width: fit-content;
  height: 32px;
  background-color: white;
  color: #2e2e2e;
  border: 1px solid;
  border-radius: 28px;
  padding: 11px 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_box {
  width: 100%;
  height: auto;
}

.container_name {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1.9375rem, 1.5759rem + 1.4834vw, 3rem);
  line-height: clamp(2.325rem, 1.8401rem + 1.9895vw, 3.75rem);
  letter-spacing: 1%;
  color: #2e2e2e;
}

.container_text {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1rem, 0.9149rem + 0.349vw, 1.25rem);
  line-height: clamp(1.3rem, 1.0618rem + 0.9773vw, 2rem);
  letter-spacing: 1%;
  color: #6c6c6c;
  margin-top: 24px;
}

.container_know {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: clamp(1rem, 0.8298rem + 0.6981vw, 1.5rem);
  line-height: 24px;
  margin-top: 24px;
  color: #2e2e2e;
}

.container_arrow {
  width: 20px;
  height: 20px;
  border: 2px;
  margin-left: 14px;
  color: #2e2e2e;
}

.project_img {
  width: 688px;
  height: 688px;
  object-fit: cover;
  border-radius: 24px;
  background-size: cover;
  background-repeat: no-repeat;
}

.container_packages_box {
  width: 100%;
  height: 372px;
  background-color: #2e2e2e;
  color: white;
  border-radius: 24px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project_box_title {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: clamp(1.5rem, 0.9895rem + 2.0942vw, 3rem);
  line-height: clamp(2.325rem, 1.8401rem + 1.9895vw, 3.75rem);
}

@media screen and (max-width: 480px) {
  .container_block {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .container_navigate {
    width: 100%;
    height: auto;
    margin: 16px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px 0;
    overflow-x: scroll;
  }

  .container_navigate::-webkit-scrollbar {
    height: 0;
  }

  .container_link {
    width: 100%;
    height: 56px;
    flex-shrink: 0;
    border-radius: 32px;
    gap: 8px;
    border: none;
    cursor: pointer;
    background-color: white;
    color: black;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  .container_link:hover {
    background-color: #764af1;
    color: white;
  }

  .link_arrow {
    width: 20px;
    height: 20px;
    border: 2px;
    margin-left: 14px;
  }

  .container_project_flex {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    gap: 16px;
    text-decoration: none;
  }

  .container_project_reverse {
    width: 100%;
    height: auto;
    text-decoration: none;
    display: flex;
    flex-direction: column-reverse;
    gap: 16px;
  }

  .container_text_block {
    width: 100%;
    height: auto;
    border-radius: 24px;
    padding: 32px;
    gap: 80px;
    background-color: white;
  }

  .container_name {
    margin-top: 80px;
  }

  .project_img {
    width: 100%;
    height: 358px;
    border-radius: 24px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .container_packages_box {
    width: 100%;
    height: auto;
    background-color: #2e2e2e;
    color: white;
    border-radius: 24px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .container_block {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .container_navigate {
    width: 100%;
    height: auto;
    margin: 16px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px 0;
    overflow-x: scroll;
  }

  .container_navigate::-webkit-scrollbar {
    height: 0;
  }

  .container_link {
    width: 100%;
    height: 56px;
    flex-shrink: 0;
    border-radius: 32px;
    gap: 8px;
    border: none;
    cursor: pointer;
    background-color: white;
    color: black;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  .container_link:hover {
    background-color: #764af1;
    color: white;
  }

  .link_arrow {
    width: 20px;
    height: 20px;
    border: 2px;
    margin-left: 14px;
  }

  .container_project_flex {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    gap: 16px;
    text-decoration: none;
  }

  .container_project_reverse {
    width: 100%;
    height: auto;
    text-decoration: none;
    display: flex;
    flex-direction: column-reverse;
    gap: 16px;
  }

  .container_text_block {
    width: 100%;
    height: auto;
    border-radius: 24px;
    padding: 32px;
    gap: 80px;
    background-color: white;
  }

  .project_img {
    width: 100%;
    height: 400px;
    border-radius: 24px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .container_packages_box {
    width: 100%;
    height: auto;
    background-color: #2e2e2e;
    color: white;
    border-radius: 24px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .container_block {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .container_navigate {
    width: 100%;
    height: 56px;
    margin: 16px 0 0 0;
    overflow-x: scroll;
    display: flex;
    gap: 0 16px;
  }

  .container_navigate::-webkit-scrollbar {
    height: 0;
  }

  .container_link {
    width: 336px;
    height: 100%;
    flex-shrink: 0;
    border-radius: 32px;
    gap: 8px;
    border: none;
    cursor: pointer;
    background-color: white;
    color: black;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  .container_link:hover {
    background-color: #764af1;
    color: white;
  }

  .link_arrow {
    width: 20px;
    height: 20px;
    border: 2px;
    margin-left: 14px;
  }

  .container_project_flex {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
  }

  .container_project_reverse {
    width: 100%;
    height: 450px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
  }

  .container_text_block {
    width: 49%;
    height: auto;
    border-radius: 24px;
    padding: 24px;
    gap: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
  }

  .container_name {
    font-size: 24px;
    line-height: 32px;
  }

  .container_text {
    font-size: 18px;
  }

  .project_img {
    width: 49%;
    height: 100%;
    border-radius: 24px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .container_packages_box {
    width: 100%;
    height: auto;
    background-color: #2e2e2e;
    color: white;
    border-radius: 24px;
    padding: 24px;
    gap: 130px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .container_block {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .container_navigate {
    width: 100%;
    height: 56px;
    margin: 16px 0 0 0;
    overflow-x: scroll;
    display: flex;
    gap: 0 16px;
  }

  .container_navigate::-webkit-scrollbar {
    height: 0;
  }

  .container_link {
    width: 336px;
    height: 100%;
    flex-shrink: 0;
    border-radius: 32px;
    gap: 8px;
    border: none;
    cursor: pointer;
    background-color: white;
    color: black;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  .container_link:hover {
    background-color: #764af1;
    color: white;
  }

  .link_arrow {
    width: 20px;
    height: 20px;
    border: 2px;
    margin-left: 14px;
  }

  .container_project_flex {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
  }

  .container_project_reverse {
    width: 100%;
    height: auto;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
  }

  .container_text_block {
    width: 49%;
    height: auto;
    border-radius: 24px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
  }

  .container_text {
    font-size: 18px;
  }

  .project_img {
    width: 49%;
    height: auto;
    border-radius: 24px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .container_packages_box {
    width: 100%;
    height: auto;
    background-color: #2e2e2e;
    color: white;
    border-radius: 24px;
    padding: 24px;
    gap: 140px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1535px) {
  .container_block {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  .container_navigate {
    width: 100%;
    height: 56px;
    margin: 16px 0 0 0;
    overflow-x: scroll;
    display: flex;
    gap: 0 16px;
  }

  .container_navigate::-webkit-scrollbar {
    height: 0;
  }

  .container_link {
    width: 336px;
    height: 100%;
    flex-shrink: 0;
    border-radius: 32px;
    gap: 8px;
    border: none;
    cursor: pointer;
    background-color: white;
    color: black;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  .container_link:hover {
    background-color: #764af1;
    color: white;
  }

  .link_arrow {
    width: 20px;
    height: 20px;
    border: 2px;
    margin-left: 14px;
  }

  .container_project_flex {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
  }

  .container_project_reverse {
    width: 100%;
    height: auto;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
  }

  .container_text_block {
    width: 49%;
    height: auto;
    border-radius: 24px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
  }

  .container_text {
    font-size: 18px;
  }

  .project_img {
    width: 49%;
    height: auto;
    border-radius: 24px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .container_packages_box {
    width: 100%;
    height: auto;
    background-color: #2e2e2e;
    color: white;
    border-radius: 24px;
    padding: 32px;
    gap: 150px;
  }
}
