.reg_block {
    width: 1157px;
    height: 587px;
    margin-top: 16px;
    padding: 16px;
    gap: 16px;
    border-radius: 24px;
    position: absolute;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    background-color: #E1E1E1;
}
.image_block {
    width: 555px;
    height: 100%;
    border-radius: 24px;
    background-image: url('../../../assets/img/service_packages/design.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
}


.contact_reg {
    width: 555px;
    height: 100%;
    padding: 32px;
    position: relative;
    background-color: white;
}
.close_icon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 32px;
    right: 37px;
    cursor: pointer;
}
.contact_reg>button {
    width: 108px;
    height: 32px;
    border-radius: 28px;
    background-color: white;
    border: 1px solid;
    font-size: 14px;
    line-height: 16px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.contact_reg>h1 {
    margin-top: 24px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 1%;
}


.reg_form {
    width: 100%;
    height: 359px;
    margin-top: 44px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.reg_name {
    width: 100%;
    height: 56px;
    background-color: #EBEBEB;
    color: #6C6C6C;
    border: none;
    padding-left: 16px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    outline: none;
}
.reg_tell,.reg_email {
    width: 237.5px;
    height: 56px;
    background-color: #EBEBEB;
    color: #6C6C6C;
    border: none;
    padding-left: 16px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    outline: none;
}
.reg_massage {
    width: 100%;
    height: 151px;
    background-color: #EBEBEB;
    color: #6C6C6C;
    border: none;
    outline: none;
    padding-left: 16px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
}
.reg_form>button {
    width: 100%;
    height: 48px;
    background-color: #764AF1;
    color: white;
    border: none;
    border-radius: 130px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
}