.navigation_block {
    width: 1392px;
    height: auto;
    margin-top: 64px;
}
.nav_box {
    width: 1392px;
    height: 56px;
    display: flex;
    justify-content: space-between;
}

.select_block {
    display: none;
}

.project_btn {
    width: 265.5px;
    height: 100%;
    border-radius: 32px;
    gap: 8px;
    border: none;
    background-color: white;
    font-size: 16px;
    line-height: 24px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.project_btn:hover {
    background-color: #764AF1;
    color: white;
    cursor: pointer;
}

.project_btn_active {
    width: 265.5px;
    height: 100%;
    border-radius: 32px;
    gap: 8px;
    border: none;
    background-color: #764AF1;
    color: white;
    font-size: 16px;
    line-height: 24px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}


.many_img_box {
    width: 100%;
    height: auto;
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px 0;
}

.images_box {
    width: 49%;
    height: 688px;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 28px;
    cursor: pointer;
}

.not_found {
    width: 100%;
    height: 50px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    line-height: 60px;
    color: #414141;
    display: flex;
    justify-content: center;
    align-items: center;
}

.touch_btn {
    margin-top: 16px;
    width: 100%;
    height: 56px;
    border-radius: 32px;
    cursor: pointer;
    background-color: #764AF1;
    color: white;
    border: none;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
}


@media screen and (max-width: 480px) {
    .navigation_block {
        width: 100%;
        height: auto;
        margin-top: 48px;
    }

    .nav_box {
        display: none;
    }

    .select_block {
        display: block;
        width: 100%;
        height: auto;
    }
    
    .select_btn {
        width: 100%;
        height: 56px;
        border-radius: 32px;
        padding: 0 32px;
        background-color: white;
        color: #2E2E2E;
        border: 1px solid #E1E1E1;
        font-size: 16px;
        line-height: 16px;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        flex-shrink: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .select_arrow_down {
        width: 24px;
        height: 24px;
    }

    .select_arrow_up {
        width: 24px;
        height: 24px;
        rotate: 180deg;
    }

    .select_open {
        width: 100%;
        height: 216px;
        border-radius: 24px;
        background-color: white;
        margin-top: 8px;
        padding: 16px;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        gap: 8px 0;
    }

    .select_open::-webkit-scrollbar {
        width: 0;
    }

    .many_img_box {
        width: 100%;
        height: auto;
        margin-top: 24px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .images_box {
        width: 100%;
        height: 309px;
    }
  
    .touch_btn {
        margin-top: 16px;
        width: 100%;
        height: 56px;
        border-radius: 32px;
        background-color: #764AF1;
        color: white;
        border: none;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size: 16px;
        line-height: 16px;
    }   
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .navigation_block {
        width: 100%;
        height: auto;
        margin-top: 48px;
    }

    .nav_box {
        display: block;
        width: 100%;
        overflow-x: scroll;
        display: flex;
        gap: 8px;
    }

    .nav_box::-webkit-scrollbar {
        height: 0;
    }

    .project_btn {
        width: 180px;
        flex-shrink: 0;
    }

    .project_btn_active {
        width: 180px;
        flex-shrink: 0;
        background-color: #764AF1;
        color: white;
    }

    .many_img_box {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }

    .images_box {
        width: 50%;
        height: 360px;
        flex-basis: 300px;
        flex-grow: 1;
    }

    .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .touch_btn {
        margin-top: 16px;
        width: 100%;
        height: 56px;
        border-radius: 32px;
        background-color: #764AF1;
        color: white;
        border: none;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size: 16px;
        line-height: 16px;
    }   
}

@media screen and (min-width: 767px) and (max-width: 991px) {
    .navigation_block {
        width: 100%;
        height: auto;
        margin-top: 48px;
    }

    .nav_box {
        width: 100%;
        height: 56px;
        display: flex;
        gap: 16px;
        overflow-x: scroll;
        border-radius: 32px;
    }

    .nav_box::-webkit-scrollbar {
        height: 0;
    }

    .project_btn {
        flex-shrink: 0;
    }

    .project_btn_active {
        flex-shrink: 0;
        background-color: #764AF1;
        color: white;
    }

    .many_img_box {
        width: 100%;
        height: auto;
        margin-top: 16px;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }

    .images_box {
        flex-basis: 350px;
        flex-shrink: 0;
        flex-grow: 1;
        height: 420px;
    }

    .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .touch_btn {
        margin-top: 16px;
        width: 100%;
        height: 56px;
        border-radius: 32px;
        background-color: #764AF1;
        color: white;
        border: none;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size: 16px;
        line-height: 16px;
    }   
}

@media screen and (min-width: 991px) and (max-width: 1200px) {
    .navigation_block {
        width: 100%;
        height: auto;
        margin-top: 48px;
    }

    .nav_box {
        width: 100%;
        height: 56px;
        display: flex;
        justify-content: space-between;
        gap: 16px;
        overflow-x: scroll;
        border-radius: 32px;
    }

    .nav_box::-webkit-scrollbar {
        height: 0;
    }

    .project_btn {
        flex-shrink: 0;
    }

    .project_btn_active {
        flex-shrink: 0;
        background-color: #764AF1;
        color: white;
    }

    .many_img_box {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }

    .images_box {
        flex-basis: 514px;
        flex-grow: 1;
        height: 500px;
    }

    .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

 
    
    .touch_btn {
        margin-top: 16px;
        width: 100%;
        height: 56px;
        border-radius: 32px;
        background-color: #764AF1;
        color: white;
        border: none;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size: 16px;
        line-height: 16px;
    }   
}

@media screen and (min-width: 1200px) and (max-width: 1535px) {
    .navigation_block {
        width: 100%;
        height: auto;
        margin-top: 48px;
    }

    .nav_box {
        width: 100%;
        height: 56px;
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
        border-radius: 32px;
        gap: 0 16px;
    }

    .nav_box::-webkit-scrollbar {
        height: 0;
    }

    .project_btn {
        flex-shrink: 0;
    }

    .project_btn_active {
        flex-shrink: 0;
        background-color: #764AF1;
        color: white;
    }

    .many_img_box {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }

    .images_box {
        flex-grow: 50%;
        height: 550px;
    }

    
    .touch_btn {
        margin-top: 16px;
        width: 100%;
        height: 56px;
        border-radius: 32px;
        background-color: #764AF1;
        color: white;
        border: none;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size: 16px;
        line-height: 16px;
    }   
}