.team_block {
    width: 1392px;
    height: 582px;
    margin-top: 64px;
    border-radius: 32px;
    padding: 16px;
    gap: 24px;
    background-color: white;
}

.team_btn {
    width: 96px;
    height: 32px;
    background-color: white;
    border: 1px solid;
    border-radius: 28px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
}

.parent_block {
    width: 100%;
    height: 480px;
    margin-top: 24px;
    display: flex;
    gap: 0 16px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.parent_block::-webkit-scrollbar {
    width: 450.4px;
    height: 8px;
}
.parent_block::-webkit-scrollbar-thumb {
    background-color: #764AF1;
    border-radius: 40px;
}
.parent_block::-webkit-scrollbar-track {
    background-color: #E1E1E1;
    border-radius: 40px;
    gap: 10px;
}

.person_box {
    width: 328px;
    height: 446px;
    background-color: #EBEBEB;
    flex-shrink: 0;
    position: relative;
}

.team_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mouse_box {
    width: 100%;
    height: 100%;
    background-color: #764AF1A6;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    top: 0;  
}

.mouse_name {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: white;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 4px;
}

.mouse_title {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 14px;
    line-height: 18px;
}

@media screen and (max-width: 480px) {
    .team_block {
        width: 358px;
        height: 574px;
        margin-top: 64px;
        border-radius: 32px;
        padding: 16px;
        gap: 24px;
        background-color: white;
    }

    .parent_block {
        width: 100%;
        height: 480px;
        margin-top: 24px;
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    
    .parent_block::-webkit-scrollbar {
        width: 100%;
        height: 8px;
    }
    .parent_block::-webkit-scrollbar-thumb {
        width: 139px;
        background-color: #764AF1;
        border-radius: 40px;
    }
    .parent_block::-webkit-scrollbar-track {
        width: 294px;
        background-color: #E1E1E1;
        border-radius: 40px;
        gap: 10px;
        margin: 0 16px;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .team_block {
        width: 90%;
        height: 574px;
        margin-top: 64px;
        border-radius: 32px;
        padding: 16px;
        gap: 24px;
        background-color: white;
    }

    .parent_block {
        width: 100%;
        height: 480px;
        margin-top: 24px;
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    
    .parent_block::-webkit-scrollbar {
        width: 100%;
        height: 8px;
    }
    .parent_block::-webkit-scrollbar-thumb {
        width: 139px;
        background-color: #764AF1;
        border-radius: 40px;
    }
    .parent_block::-webkit-scrollbar-track {
        width: 100%;
        background-color: #E1E1E1;
        border-radius: 40px;
        gap: 10px;
        margin: 0 16px;
    }    
}

@media screen and (min-width: 767px) and (max-width: 991px) {
    .team_block {
        width: 90%;
        height: 574px;
        margin-top: 64px;
        border-radius: 32px;
        padding: 16px;
        gap: 24px;
        background-color: white;
    }

    .parent_block {
        width: 100%;
        height: 480px;
        margin-top: 24px;
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    
    .parent_block::-webkit-scrollbar {
        width: 100%;
        height: 8px;
    }
    .parent_block::-webkit-scrollbar-thumb {
        width: 139px;
        background-color: #764AF1;
        border-radius: 40px;
    }
    .parent_block::-webkit-scrollbar-track {
        width: 294px;
        background-color: #E1E1E1;
        border-radius: 40px;
        gap: 10px;
        margin: 0 16px;
    }  
}

@media screen and (min-width: 991px) and (max-width: 1200px) {
    .team_block {
        width: 95%;
        height: 574px;
        margin-top: 64px;
        border-radius: 32px;
        padding: 16px;
        gap: 24px;
        background-color: white;
    }

    .parent_block {
        width: 100%;
        height: 480px;
        margin-top: 24px;
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    
    .parent_block::-webkit-scrollbar {
        width: 100%;
        height: 8px;
    }
    .parent_block::-webkit-scrollbar-thumb {
        width: 139px;
        background-color: #764AF1;
        border-radius: 40px;
    }
    .parent_block::-webkit-scrollbar-track {
        width: 294px;
        background-color: #E1E1E1;
        border-radius: 40px;
        gap: 10px;
        margin: 0 16px;
    }   
}

@media screen and (min-width: 1200px) and (max-width: 1535px) {
    .team_block {
        width: 95%;
        height: 574px;
        margin-top: 64px;
        border-radius: 32px;
        padding: 16px;
        gap: 24px;
        background-color: white;
    }

    .parent_block {
        width: 100%;
        height: 480px;
        margin-top: 24px;
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    
    .parent_block::-webkit-scrollbar {
        width: 100%;
        height: 8px;
    }
    .parent_block::-webkit-scrollbar-thumb {
        width: 139px;
        background-color: #764AF1;
        border-radius: 40px;
    }
    .parent_block::-webkit-scrollbar-track {
        width: 294px;
        background-color: #E1E1E1;
        border-radius: 40px;
        gap: 10px;
        margin: 0 16px;
    } 
}