.latest_block {
    width: 1392px;
    height: 1488px;
    margin-top: 64px;
    border-radius: 24px;
    padding: 16px;
    gap: 16px;
}
.latest_btn_box>button {
    width: 162px;
    height: 32px;
    border-radius: 28px;
    border: 1px solid #2E2E2E;
}

.latest_many_img {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 16px;
}
.small_img {
    width: 539px;
    height: 688px;
    margin-bottom: 16px;
    border-radius: 14px;
}
.big_img_two {
    width: 923px;
    height: 688px;
    border-radius: 14px;
    border-bottom: 16px;
}
.small_two_box {
    width: 421px;
    height: 688px;
}
.small_img_two {
    width: 100%;
    height: 616px;
    margin-bottom: 16px;
    border-radius: 14px;
}
.small_two_box>a {
    display: block;
    width: 100%;
    height: 56px;
    background-color: #764AF1;
    color: white;
    text-decoration: none;
    border-radius: 32px;
    gap: 8px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.big_img {
    width: 805px;
    height: 688px;
    margin-bottom: 16px;
    border-radius: 14px;
}