* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.app_block {
  width: 100%;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ebebeb;
}

@media screen and (max-width: 480px) {
  .app_block {
    padding: 0 7px;
  }
}
