.inform_block {
    width: 1392px;
    height: 420px;
    margin-top: 64px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (max-width: 480px) {
        width: 358px;
        height: auto;
        justify-content: unset;
    }

    @media screen and (min-width: 481px) and (max-width: 767px) {
        width: 90%;
        height: auto;
        gap: 16px;
    }

    @media screen and (min-width: 767px) and (max-width: 991px) {
        width: 90%;
        height: auto;
        gap: 16px;
    }

    @media screen and (min-width: 992px) and (max-width: 1200px) {
        width: 90%;
        height: auto;
        gap: 16px;
    }

    @media screen and (min-width: 1201px) and (max-width: 1535px) {
        width: 95%;
        height: auto;
        gap: 16px;
        flex-wrap: unset;
    }
}
.using_box {
    width: 336px;
    height: 100%;
    background-color: white;
    border-radius: 24px;
    gap: 16px;
    padding: 32px;

    @media screen and (max-width: 480px) {
        width: 358px;
        height: 420px;
        gap: 144px;
        margin-bottom: 16px;
    }

    
    @media screen and (min-width: 481px) and (max-width: 767px) {
        width: 100%;
        height: auto;
    }

    @media screen and (min-width: 767px) and (max-width: 991px) {
        width: 48%;
        height: 400px;
    }

    @media screen and (min-width: 992px) and (max-width: 1200px) {
        width: 48%;
        height: auto;
    }
    
    @media screen and (min-width: 1201px) and (max-width: 1535px) {
        width: 25%;
        height: auto;
    }
}

.using_name,.servis_two_name {
    color: black;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    line-height: 28.8px;
}
.using_text,.servis_two_text {
    margin-top: 100px;
    color: black;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 1%;
}


.personal_box {
    width: 336px;
    height: 100%;
    background-color: #764AF1;
    border-radius: 24px;
    gap: 16px;
    padding: 32px;

    @media screen and (max-width: 480px) {
        width: 358px;
        height: 420px;
        gap: 144px;
        margin-bottom: 16px;
    }

    @media screen and (min-width: 481px) and (max-width: 767px) {
        width: 100%;
        height: auto;
    }

    @media screen and (min-width: 767px) and (max-width: 991px) {
        width: 48%;
        height: 400px;
    }

    @media screen and (min-width: 992px) and (max-width: 1200px) {
        width: 48%;
        height: auto;
    }
    
    @media screen and (min-width: 1201px) and (max-width: 1535px) {
        width: 25%;
        height: auto;
    }
}

.personal_name,.servis_one_name {
    color: white;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    line-height: 28.8px;
}
.personal_text,.servis_one_text {
    margin-top: 122px;
    color: white;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 1%;
}


.servis_one {
    width: 336px;
    height: 100%;
    background-color: #2E2E2E;
    border-radius: 24px;
    gap: 16px;
    padding: 32px;

    @media screen and (max-width: 480px) {
        width: 358px;
        height: 420px;
        gap: 144px;
        margin-bottom: 16px;
    }

    @media screen and (min-width: 481px) and (max-width: 767px) {
        width: 100%;
        height: auto;
    }

    @media screen and (min-width: 767px) and (max-width: 991px) {
        width: 48%;
        height: 400px;
    }

    @media screen and (min-width: 992px) and (max-width: 1200px) {
        width: 48%;
        height: auto;
    }
    
    @media screen and (min-width: 1201px) and (max-width: 1535px) {
        width: 25%;
        height: auto;
    }
}
.servis_two {
    width: 336px;
    height: 100%;
    background-color: white;
    border-radius: 24px;
    gap: 16px;
    padding: 32px;

    @media screen and (max-width: 480px) {
        width: 358px;
        height: 420px;
        gap: 144px;
    }

    @media screen and (min-width: 481px) and (max-width: 767px) {
        width: 100%;
        height: auto;
    }

    @media screen and (min-width: 767px) and (max-width: 991px) {
        width: 48%;
        height: 400px;
    }

    @media screen and (min-width: 992px) and (max-width: 1200px) {
        width: 48%;
        height: auto;
    }
    
    @media screen and (min-width: 1201px) and (max-width: 1535px) {
        width: 25%;
        height: auto;
    }
}

